#display {
    width: 70%;
    float: right;
    text-align: left;
    justify-content: left;
    border: solid black;
}

li:hover {
    color: red;
    font: larger;
}

#search-bar {
    float: left;
}

.col-2 {
    display: flex;
    color: blue;
}