header {
    background-color: rgb(134, 134, 245);
}

#display {
    width: 70%;
    float: right;
    text-align: left;
    justify-content: left;
    border: solid black;
}

li {
    background-color: rgb(134, 134, 245);
}

li:hover {
    color: red;
    font: larger;
    cursor: pointer;
}

#search-bar {
    float: left;
}

.day {
    display: flex;
    border: solid black;
    padding: 10px;
    margin: 10px;
}

h3 {
    float: left;
}